%-*- mode: erlang -*-
{erl_opts,[{parse_transform, lager_transform}]}.
{excl_archive_filters, [".*"]}.
{lib_dirs,["deps"]}.
{src_dirs, ["./src"]}.

{deps, [
   {lager_udp_backend, ".*", {git, "git://github.com/LineMetrics/lager_udp_backend.git", {branch, "master"}}},
   {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.4.1"}}},
   {erl_lib, ".*", {git, "git://github.com/LineMetrics/erl_lib.git"}}
	]}.


{post_hooks, [
	{compile, "cp ./sys.config ./ebin/sys.config"}
   ]}.
