%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

[ 

  {carrot,
    [ {bunnies, [
       {mq_worker, [
          {callback, rmq_test},
          {setup,
             [
                {exchange, [
                   {exchange, <<"x_gen_consumer_test1">>}, {destination, <<"x_gen_consumer_test1">>},
                   {name_postfix, true},
                   {type, <<"topic">>},
                   {source, <<"x_ds_fanout">>}, {routing_key, <<"1.#">>},
                   {durable, false}, {auto_delete, true},
                   {arguments, []}
                     ]
                },
                {queue, [
                   {queue, <<"q_gen_consumer_test1">>}, {name_postfix, true},
                   {exchange, <<"x_gen_consumer_test1">>}, {xname_postfix, true},
                   {durable, false}, {auto_delete, true},
                   {routing_key, <<"1.004.#">>}, {arguments,[]}
                ]}
             ]
          },
          {workers, 2}, % Number of connections,
          {hosts, [ {"192.168.9.109",5672} ]},
          {user, "linemetrics"},
          {pass, "line7metrics"},
          {vhost, "/"},
          {confirm_timeout, 1000},
          {reconnect_timeout, 5000},
          {ssl_options, none} % Optional. Can be 'none' or [ssl_option()]
       ]}
%%        ,
%%        {rmq_config_worker, [
%%           {callback, rmq_test},
%%           {setup,
%%              [
%% %%                 {exchange, [
%% %%                    {exchange, <<"x_gen_consumer_test2">>}, {destination, <<"x_gen_consumer_test2">>},
%% %%                    {type, <<"topic">>},
%% %%                    {source, <<"x_ds_fanout">>}, {routing_key, <<"1.#">>},
%% %%                    {durable, false}, {auto_delete, true},
%% %%                    {arguments, []}
%% %%                 ]
%% %%                 },
%%                 {queue, [
%%                    {queue, <<"q_gen_consumer_test2">>}, {name_postfix, false},
%%                    {exchange, <<"x_ds_topic">>},
%%                    {durable, false}, {auto_delete, true},
%%                    {routing_key, <<"1.004.#">>}, {arguments,[]}
%%                 ]}
%%              ]
%%           },
%%           {workers, 3}, % Number of connections,
%%           {hosts, [ {"192.168.9.109",5672} ]},
%%           {user, "linemetrics"},
%%           {pass, "line7metrics"},
%%           {vhost, "/"},
%%           {confirm_timeout, 1000},
%%           {reconnect_timeout, 5000},
%%           {ssl_options, none} % Optional. Can be 'none' or [ssl_option()]
%%          ]
%%        }
       ]%% end bunnies
    }

    ]
  },


   {sasl, [
      {errlog_type, error},
      {error_logger_mf_dir, "log/sasl"},     % Log directory
      {error_logger_mf_maxbytes, 5242880},   % 5 MB max file size
      {error_logger_mf_maxfiles, 10}         % 10 files max
   ]}, 
   {lager, [
      {colored, true},
      {handlers, [
         {lager_console_backend, debug},
         {lager_udp_backend, [
            {level,       debug},
            {host,    "192.168.9.113"},
            {port,   4713}
         ]}
      ]}
   ]}


].
