%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

[ 

  {carrot,
    [
       %% connection parameters
       {broker, [
          {hosts, [ {"192.168.9.125",5672} ]},
          {user, "linemetrics"},
          {pass, "line7metrics"},
          {vhost, "/"},
          {reconnect_timeout, 2000},
          {ssl_options, none} % Optional. Can be 'none' or [ssl_option()]
         ]},
       %% consumer setups
       {bunnies,
          [
             %% cassandra topics
             {cass_worker_1004, [
                {workers, 4}, % Number of connections,
                {callback, rmq_test},
                {setup_type, permanent},
                {prefetch_count, 40},
                {setup,
                   [
                      {queue, [
                         {queue, <<"q_cass_1004">>},
                        {exchange, <<"x_cass_topic">>}, {xname_postfix, false},
                         {routing_key, <<"1004.#">>}
                      ]}
                   ]
                }


             ]},
             %% consumer 1
             {mq_worker, [
                {workers, 3}, % Number of connections,
                {callback, rmq_test},
                {setup_type, temporary},
                {setup,
                   [
                      {exchange, [
                         {exchange, <<"x_gen_consumer_test1">>},
                         {type, <<"topic">>},
                         {source, <<"x_ds_fanout">>}
                         ]
                      },
                      {queue, [
                         {queue, <<"q_gen_consumer_test1">>},
                         {exchange, <<"x_gen_consumer_test1">>}, {xname_postfix, true},
                         {routing_key, <<"1004.#">>}
                      ]}
                   ]
                }

             ]},

             %% consumer 2
             {rmq_config_worker, [
                {workers, 3}, % Number of connections,
                {callback, rmq_test},
                {setup_type, temporary},
                {setup,
                   [
                      {queue, [
                         {queue, <<"qt_config_carrot">>},
                         {exchange, <<"x_ds_header">>}, {xname_postfix, false},
                         {arguments, [{<<"ty">>, longstr, <<"2001">>},
                            {<<"type">>, longstr, <<"mqtt_topic_lookup">>}]
                         }

                      ]}
                   ]
                }

               ]
             }

         ]
       } %% end bunnies

    ]
  },


   {sasl, [
      {errlog_type, error},
      {error_logger_mf_dir, "log/sasl"},     % Log directory
      {error_logger_mf_maxbytes, 5242880},   % 5 MB max file size
      {error_logger_mf_maxfiles, 10}         % 10 files max
   ]}, 
   {lager, [
      {colored, true},
      {handlers, [
         {lager_console_backend, debug},
         {lager_udp_backend, [
            {level,       debug},
            {host,    "192.168.9.113"},
            {port,   4713}
         ]}
      ]}
   ]}


].
