%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

[ 

  {carrot,
    [
       %% connection parameters
       {broker, [
          {hosts, [ {"192.168.9.116",5672} ]},
          {user, "user"},
          {pass, "pass"},
          {vhost, "/"},
          {reconnect_timeout, 2000},
          {ssl_options, none} % Optional. Can be 'none' or [ssl_option()]
         ]},
       %% consumer setups
       {bunnies, [
             %% cassandra topics
             {cass_worker_multiple, [
                {workers, 1}, % Number of connections,
                {callback, rmq_test},
                {callback_args, [{filter,<<"sound3">>},{http_enpoint,"127.0.0.1/api/v2/condition"}]},
                {setup_type, temporary},
                {prefetch_count, 40},
                {setup,
                   [
                      {queue, [
                         {queue, <<"qm_cass_multiple">>},
                         {exchange, <<"x_cass_topic">>}, {xname_postfix, false},
                         {routing_key, <<"#">>}
                         ,
                         {bindings, [<<"1.01">>, <<"1.03">>, <<"1.02">>]}
%%                         ,
%%                         {arguments, [
%%                            {<<"x-expires">>, 3600000}  %% 1 hour
%%                         ]}
                      ]}
                   ]
                }


             ]}
%%             ,
%%              {sep_out_worker, [
%%                 {workers, 1}, % Number of connections,
%%                 {callback, rmq_test},
%%                 {setup_type, temporary},
%%                 {prefetch_count, 40},
%%                 {setup,
%%                    [
%%                       {queue, [
%%                          {queue, <<"qt_sep_out">>},
%%                         {exchange, <<"x_ds_topic">>}, {xname_postfix, false},
%%                          {routing_key, <<"1.001.huiuiuiuiuihuihuiui">>}
%%                       ]}
%%                    ]
%%                 }
%%
%%
%%              ]}
             %,
             %% consumer 1
%%             {mq_worker, [
%%                {workers, 4}, % Number of connections,
%%                {callback, rmq_test},
%%                {setup_type, temporary},
%%                {setup,
%%                   [
%%                      {exchange, [
%%                         {exchange, <<"x_gen_consumer_test1">>},
%%                         {type, <<"topic">>},
%%                         {source, <<"x_ds_fanout">>}
%%                         ]
%%                      },
%%                      {queue, [
%%                         {queue, <<"q_gen_consumer_test1">>},
%%                         {exchange, <<"x_gen_consumer_test1">>}, {xname_postfix, true},
%%                         {routing_key, <<"1004.#">>}
%%                      ]}
%%                   ]
%%                }
%%
%%             ]},
%%
%%             %% consumer 2
             ,{rmq_config_worker, [
                {workers, 1}, % Number of connections,
                {callback, rmq_test},
                {setup_type, temporary},
                {setup,
                   [
                      {queue, [
                         {queue, <<"qt_config_carrot">>},
                         {exchange, <<"x_ds_header">>}, {xname_postfix, false},
                         {arguments, [{<<"ty">>, <<"2001">>},
                            {<<"type">>, <<"mqtt_topic_lookup">>}]
                         }

                      ]}
                   ]
                }

               ]
             }%% rmq_config_worker

         ]
       } %% end bunnies

    ]
  },


   {sasl, [
      {errlog_type, error},
      {error_logger_mf_dir, "log/sasl"},     % Log directory
      {error_logger_mf_maxbytes, 5242880},   % 5 MB max file size
      {error_logger_mf_maxfiles, 10}         % 10 files max
   ]}, 
   {lager, [
      {colored, true},
      {handlers, [
         {lager_console_backend, debug},
         {lager_udp_backend, [
            {level,       debug},
            {host,    "192.168.9.113"},
            {port,   4713}
         ]}
      ]}
   ]}


].
